<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--fontawesome-->
   <script src="https://kit.fontawesome.com/c928e1895b.js" crossorigin="anonymous"></script>
   <!--css-->
   <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
   <!--bootstrap-->
   <script src="/bootstrap/js/bootstrap.min.js"></script>
   <!--popperjs-->
   <script src="/popper/popper.js"></script>
   <title>Mercado web</title>
</head>
<body>
   {{> menu}}
   {{{body}}}
   {{> modal}}
</body>
</html>